body {
	margin: 0;
}

header {
	background-color: aquamarine;
	font-size: 1.5rem;
}

.logo {
	width: 50px;
	height: 40px;
	border-radius: 50px;
	margin: 0 10px;
}

.titre {
	display: flex;
	align-items: center;
}

/**
* Ajout Style Page Contact
*/
.contact {
    background-color: beige;
    border: 1px solid black;
}
.section-title h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.section-title p {
    font-size: 1.2rem;
    font-weight: bold;
}