footer {
    background-color: darkgray;
    text-align: center;
    padding: 10px;
}

body {
    margin: 0;
    font-family: "Comic sans ms";
}

/**
* Ajout Style Page Contact
*/
.contact {
    background-color: beige;
    border: 1px solid black;
}
.section-title h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.section-title p {
    font-size: 1.2rem;
    font-weight: bold;
}